@model ProfileViewModel
@{
    ViewData["Title"] = "My Job Feed";
}

<div class="bg-white border row mb-4 mt-5">
    <div class="border-bottom p-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div>
                    <button class="image-edit-icon btn-sm rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                    <img class="rounded-circle" src="https://source.unsplash.com/random/90x90/?man">
                </div>
                <div class="ms-4">
                    <p class="h3 mt-2">John D.</p>
                    <p><i class="fas fa-map-marker-alt fa-sm me-1"></i>@Model.Profile.City, @Model.Profile.Country - 5:05 am local time</p>
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <span class="h5">@Model.Profile.JobSuccessScore%</span>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="small">Job Success</span>
                        </div>
                        <div class="ms-4">
                            <p>
                                <i class="fas fa-certificate text-success fa-sm me-1"></i><span class="small text-secondary">
                                    TOP
                                    RATED
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-success rounded-pill px-4 me-4 mb-auto">See Public View</button>
                <button class="btn btn-success rounded-pill px-4 mb-auto">Profile Settings</button>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-4 border-end">
            <div class="border-bottom p-4">
                <p class="h5">
                    View profile <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <div class="d-flex flex-column">
                    <button type="button" class="btn" style="text-align:left;">
                        Full Stack Development
                    </button>
                    <button type="button" class="btn" style="text-align:left;">Content Writing</button>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn" style="text-align:left;">All Work</button>
                        <span><i class="fas fa-chevron-right me-1"></i></span>
                    </div>
                </div>
            </div>

            <div class="border-bottom p-4">
                <div class="d-flex justify-content-between">
                    <p><span class="fw-bold fs-5">$10k+</span><br><span class="small">Total Earnings</span></p>
                    <p><span class="fw-bold fs-5">46</span><br><span class="small">Total Jobs</span></p>
                    <p><span class="fw-bold fs-5">25</span><br><span class="small">Total Hours</span></p>
                </div>
            </div>

            <div class="p-4">
                <p class="fs-5">
                    Video Introduction <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                </p>
                <p class="fs-5 mt-4">
                    Hours <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <p>
                    <span class="h6">Available</span>
                    <br>
                    <span>As Needed - Open to Offers</span>
                </p>
                <p class="fs-5 mt-4">
                    Languages
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <p><span class="h6">English: </span><span>Native or Bilingual</span></p>
                <p class="fs-5 mt-4">
                    Education <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                </p>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="h6">
                            Coder Foundry Self Paced .NET Coding Bootcamp
                            <br>
                            <span class="text-secondary fw-normal">2021-2021</span>
                        </p>
                    </div>
                    <div class="w-50">
                        <button class="btn-sm ms-2 rounded-circle border bg-white">
                            <i class="fas fa-pen text-secondary"></i>
                        </button>
                        <button class="btn-sm ms-2 rounded-circle border bg-white">
                            <i class="fas fa-trash-alt text-secondary"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="border-bottom p-4">
                <div class="d-flex">
                    <div>
                        <p class="fw-bold fs-4">
                            @Model.SpecializedProfile.Title
                            <button class="btn-sm ms-2 rounded-circle border bg-white" data-bs-toggle="modal" data-bs-target="#editTitleModal">
                                <i class="fas fa-pen text-secondary"></i>
                            </button>
                        </p>
                    </div>
                    <div class="d-flex justify-content-end w-50">
                        <p class="fw-bold fs-4">
                            @Model.SpecializedProfile.HourlyRate.ToString("C")/hr
                            <button class="btn-sm ms-2 rounded-circle border bg-white" data-bs-toggle="modal" data-bs-target="#editHourlyRateModal" onclick="updateFields('@Model.SpecializedProfile.HourlyRate.ToString("F")', 'hourlyRateInput')">
                                <i class="fas fa-pen text-secondary"></i>
                            </button>
                            <button class="btn rounded-circle border ms-2"><i class="fas fa-link text-secondary"></i></button>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>
                            @Model.SpecializedProfile.Description
                        </p>
                    </div>
                    <div>
                        <button class="btn-sm ms-2 rounded-circle border bg-white">
                            <i class="fas fa-pen text-secondary"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="border-bottom p-4">
                <p class="h5">
                    Work history <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-ellipsis-h text-secondary"></i>
                    </button>
                </p>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-success active" id="completed-tab" data-bs-toggle="tab"
                                data-bs-target="#completed" type="button" role="tab" aria-controls="completed"
                                aria-selected="true">
                            Completed jobs (2)
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-success" id="current-tab" data-bs-toggle="tab" data-bs-target="#current"
                                type="button" role="tab" aria-controls="current" aria-selected="false">
                            In progress (1)
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                        <div>
                            <p class="mt-3">
                                <a href="#" class="text-success h6 text-decoration-none">
                                    Lorem ipsum dolor sit, amet
                                    consectetur
                                    adipisicing elit. Sunt, blanditiis?
                                </a>
                            </p>
                            <p>
                                <span>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-secondary"></i>
                                </span>
                                <span class="h6">4.00</span>
                                <span class="small">May 3, 2021 - Jul 1, 2021</span>
                                <button class="btn-sm ms-2 rounded-circle border bg-white">
                                    <i class="fas fa-share-alt text-secondary"></i>
                                </button>
                            </p>
                            <p class="fst-italic">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
                            <div class="row g-0">
                                <div class="col-5">
                                    <span class="h6">$500.00</span>
                                </div>
                                <div class="col-7">
                                    <span>Fixed Price</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div>
                            <p class="mt-3">
                                <a href="#" class="text-success h6 text-decoration-none">
                                    Lorem ipsum dolor sit, amet
                                    consectetur
                                    adipisicing elit. Sunt, blanditiis?
                                </a>
                            </p>
                            <p>
                                <span class="small">May 3, 2021 - Jul 1, 2021</span>
                            </p>
                            <p class="text-secondary">No feedback given</p>
                            <div class="row g-0">
                                <div class="col-5">
                                    <span class="h6">$500.00</span>
                                </div>
                                <div class="col-7">
                                    <span>Hourly</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="current-tab">
                        <div>
                            <p class="mt-3">
                                <a href="#" class="text-success h6 text-decoration-none">
                                    Lorem ipsum dolor sit, amet
                                    consectetur
                                    adipisicing elit. Sunt, blanditiis?
                                </a>
                            </p>
                            <p>
                                <span class="small">May 3, 2021 - Present</span>
                            </p>
                            <p class="text-secondary">Job in progress</p>
                            <div class="row g-0">
                                <div class="col-5">
                                    <span class="h6">$500.00</span>
                                </div>
                                <div class="col-7">
                                    <span>Fixed Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom p-4">
                <p class="h5">
                    Portfolio (2)
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-ellipsis-h text-secondary"></i>
                    </button>
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-sort text-secondary"></i>
                    </button>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid mt-2 mb-2" src="https://source.unsplash.com/random/200x140/?code">
                        <p class="h6">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light border w-100 mt-2 mb-2 p-2 overflow-hidden" style="height: 140px;">
                            <div class="fade-box">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis, nihil delectus
                                    sequi numquam neque. ssssss
                                </p>
                            </div>
                        </div>
                        <p class="h6">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="p-4">
                <p class="h5">
                    Skills <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <div class="mt-3">
                    <span class="bg-light border border-2 rounded-pill small px-2">Content Writing</span>
                    <span class="bg-light border border-2 rounded-pill small px-2">Article Writing</span>
                    <span class="bg-light border border-2 rounded-pill small px-2">Blog Writing</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white border row p-4 mb-4">
    <div class="d-flex justify-content-between">
        <p class="h4 mb-3">Employment history</p>
        <button class="btn rounded-circle border mb-3"><i class="fas fa-plus text-secondary"></i></button>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <p class="h6 mb-3">Full Stack ASP.NET Core Developer | Self Employed</p>
            <span class="text-secondary">January 2018 - Present</span>
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quas repellendus fugiat dolores
                necessitatibus a!
            </span>
        </div>
        <div>
            <button class="btn rounded-circle border mb-2"><i class="fas fa-pen text-secondary"></i></button>
            <button class="btn rounded-circle border mb-2"><i class="fas fa-trash-alt text-secondary"></i></button>
        </div>
    </div>
</div>

<div class="bg-white border row p-4 mb-4">
    <div class="d-flex justify-content-between">
        <p class="h4 mb-3">Other Experiences</p>
        <button class="btn rounded-circle border mb-3"><i class="fas fa-plus text-secondary"></i></button>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <span class="h6">Freelance Writer</span>
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quas repellendus fugiat dolores
                necessitatibus a!
            </span>
        </div>
        <div>
            <button class="btn rounded-circle border mb-2"><i class="fas fa-pen text-secondary"></i></button>
            <button class="btn rounded-circle border mb-2"><i class="fas fa-trash-alt text-secondary"></i></button>
        </div>
    </div>
</div>


<!-- MODALS-->

<div class="modal fade" id="editTitleModal" tabindex="-1" aria-labelledby="editTitleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3 py-2">
            <div class="modal-header">
                <h5 class="modal-title" id="editTitleModalLabel">Edit your title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditTitle" asp-controller="Profile">
                <div class="modal-body">
                    @Html.Hidden("Id", Model.SpecializedProfile.Id)
                    <p class="small fw-bold">Your title</p>
                    <p>Enter a single sentence description of your professional skills/experience (e.g. Expert Web Designer with Ajax experience)</p>
                    <input class="form-control mb-5" type="text" name="NewTitle" value="@Model.SpecializedProfile.Title" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-success text-decoration-none" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success rounded-pill px-4">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editHourlyRateModal" tabindex="-1" aria-labelledby="editHourlyRateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3 py-2">
            <div class="modal-header">
                <h5 class="modal-title" id="editHourlyRateModalLabel">Change hourly rate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditHourlyRate" asp-controller="Profile">
                @Html.Hidden("Id", Model.SpecializedProfile.Id)
                <div class="modal-body">
                    <p class="small">
                        Please note that your new <strong class="text-secondary">@Model.SpecializedProfile.Title</strong> hourly rate will only
                        apply to new contracts. The mywork Service Fee is 20% when you begin a contract with a new client. Once
                        you bill over $500 with your client, the fee will be 10%.
                    </p>
                    <p class="small">Your profile rate: @Model.SpecializedProfile.HourlyRate.ToString("C")/hr</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="small">
                                <span class="h6">Hourly Rate</span> <br>
                                <span>Total amount the client will see</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="input-icons">
                                        <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                        <input class="form-control text-end input-field" id="hourlyRateInput" oninput="updateFields(this.value, this.id)" type="text" name="NewHourlyRate" required value="@Model.SpecializedProfile.HourlyRate.ToString()" />
                                    </div>
                                </div>
                                <div class="col-5 p-2">
                                    <span>/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="small">
                                <span class="h6">20% mywork Service Fee</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="input-icons">
                                        <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                        <label class="text-end input-field mt-2 pe-3 text-secondary" id="serviceFeeLabel"></label>
                                    </div>
                                </div>
                                <div class="col-5 p-2">
                                    <span>/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="small">
                                <span class="h6">You'll receive</span> <br>
                                <span>The estimated amount you'll receive after service fees</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="input-icons">
                                        <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                        <input class="form-control text-end input-field" type="text" id="actualRateInput" oninput="updateFields(this.value, this.id)"/>
                                    </div>
                                </div>
                                <div class="col-5 p-2">
                                    <span>/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-success text-decoration-none"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success rounded-pill px-4">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>