@model ProfileViewModel
@{
    ViewData["Title"] = $"{Model.Profile.User.FullNameAbbreviated} - {Model.SpecializedProfile.Title}";
}

<div class="bg-white border row mb-4 mt-5">
    <div class="border-bottom p-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div>
                    <button class="image-edit-icon btn-sm rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                    <img class="rounded-circle" src="https://source.unsplash.com/random/90x90/?man">
                </div>
                <div class="ms-4">
                    <p class="h3 mt-2">@Model.Profile.User.FullNameAbbreviated</p>
                    <p><i class="fas fa-map-marker-alt fa-sm me-1"></i>@Model.Profile.City, @Model.Profile.Country - 5:05 am local time</p>
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <span class="h5">@Model.Profile.JobSuccessScore%</span>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="small">Job Success</span>
                        </div>
                        <div class="ms-4">
                            <p>
                                <i class="fas fa-certificate text-success fa-sm me-1"></i><span class="small text-secondary">
                                    TOP
                                    RATED
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-success rounded-pill px-4 me-4 mb-auto">See Public View</button>
                <button class="btn btn-success rounded-pill px-4 mb-auto">Profile Settings</button>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-4 border-end">
            <div class="border-bottom p-4">
                <p class="h5">
                    View profile <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <div class="d-flex flex-column">
                    <button type="button" class="btn" style="text-align:left;">
                        Full Stack Development
                    </button>
                    <button type="button" class="btn" style="text-align:left;">Content Writing</button>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn" style="text-align:left;">All Work</button>
                        <span><i class="fas fa-chevron-right me-1"></i></span>
                    </div>
                </div>
            </div>

            <div class="border-bottom p-4">
                <div class="d-flex justify-content-between">
                    <p><span class="fw-bold fs-5">$10k+</span><br><span class="small">Total Earnings</span></p>
                    <p><span class="fw-bold fs-5">46</span><br><span class="small">Total Jobs</span></p>
                    <p><span class="fw-bold fs-5">25</span><br><span class="small">Total Hours</span></p>
                </div>
            </div>

            <div class="p-4">
                <p class="fs-5">
                    Video Introduction <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                </p>
                <p class="fs-5 mt-4">
                    Hours <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <p>
                    <span class="h6">Available</span>
                    <br>
                    <span>As Needed - Open to Offers</span>
                </p>
                <p class="fs-5 mt-4">
                    Languages
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <p><span class="h6">English: </span><span>Native or Bilingual</span></p>
                <p class="fs-5 mt-4">
                    Education <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                </p>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="h6">
                            Coder Foundry Self Paced .NET Coding Bootcamp
                            <br>
                            <span class="text-secondary fw-normal">2021-2021</span>
                        </p>
                    </div>
                    <div class="w-50">
                        <button class="btn-sm ms-2 rounded-circle border bg-white">
                            <i class="fas fa-pen text-secondary"></i>
                        </button>
                        <button class="btn-sm ms-2 rounded-circle border bg-white">
                            <i class="fas fa-trash-alt text-secondary"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="border-bottom p-4">
                <div class="d-flex">
                    <div>
                        <p class="fw-bold fs-4">
                            @Model.SpecializedProfile.Title
                            <button class="btn-sm ms-2 rounded-circle border bg-white" data-bs-toggle="modal" data-bs-target="#editTitleModal">
                                <i class="fas fa-pen text-secondary"></i>
                            </button>
                        </p>
                    </div>
                    <div class="d-flex justify-content-end w-50">
                        <p class="fw-bold fs-4">
                            @Model.SpecializedProfile.HourlyRate.ToString("C")/hr
                            <button class="btn-sm ms-2 rounded-circle border bg-white" data-bs-toggle="modal" data-bs-target="#editHourlyRateModal" onclick="updateFields('@Model.SpecializedProfile.HourlyRate.ToString("F")', '')">
                                <i class="fas fa-pen text-secondary"></i>
                            </button>
                            <button class="btn rounded-circle border ms-2"><i class="fas fa-link text-secondary"></i></button>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>
                            @Model.SpecializedProfile.Description
                        </p>
                    </div>
                    <div>
                        <button class="btn-sm ms-2 rounded-circle border bg-white">
                            <i class="fas fa-pen text-secondary"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="border-bottom p-4">
                <p class="h5">
                    Work history <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-ellipsis-h text-secondary"></i>
                    </button>
                </p>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-success active" id="completed-tab" data-bs-toggle="tab"
                                data-bs-target="#completed" type="button" role="tab" aria-controls="completed"
                                aria-selected="true">
                            Completed jobs (2)
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-success" id="current-tab" data-bs-toggle="tab" data-bs-target="#current"
                                type="button" role="tab" aria-controls="current" aria-selected="false">
                            In progress (1)
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                        <div>
                            <p class="mt-3">
                                <a href="#" class="text-success h6 text-decoration-none">
                                    Lorem ipsum dolor sit, amet
                                    consectetur
                                    adipisicing elit. Sunt, blanditiis?
                                </a>
                            </p>
                            <p>
                                <span>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-success"></i>
                                    <i class="fas fa-star fa-xs text-secondary"></i>
                                </span>
                                <span class="h6">4.00</span>
                                <span class="small">May 3, 2021 - Jul 1, 2021</span>
                                <button class="btn-sm ms-2 rounded-circle border bg-white">
                                    <i class="fas fa-share-alt text-secondary"></i>
                                </button>
                            </p>
                            <p class="fst-italic">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
                            <div class="row g-0">
                                <div class="col-5">
                                    <span class="h6">$500.00</span>
                                </div>
                                <div class="col-7">
                                    <span>Fixed Price</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div>
                            <p class="mt-3">
                                <a href="#" class="text-success h6 text-decoration-none">
                                    Lorem ipsum dolor sit, amet
                                    consectetur
                                    adipisicing elit. Sunt, blanditiis?
                                </a>
                            </p>
                            <p>
                                <span class="small">May 3, 2021 - Jul 1, 2021</span>
                            </p>
                            <p class="text-secondary">No feedback given</p>
                            <div class="row g-0">
                                <div class="col-5">
                                    <span class="h6">$500.00</span>
                                </div>
                                <div class="col-7">
                                    <span>Hourly</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="current-tab">
                        <div>
                            <p class="mt-3">
                                <a href="#" class="text-success h6 text-decoration-none">
                                    Lorem ipsum dolor sit, amet
                                    consectetur
                                    adipisicing elit. Sunt, blanditiis?
                                </a>
                            </p>
                            <p>
                                <span class="small">May 3, 2021 - Present</span>
                            </p>
                            <p class="text-secondary">Job in progress</p>
                            <div class="row g-0">
                                <div class="col-5">
                                    <span class="h6">$500.00</span>
                                </div>
                                <div class="col-7">
                                    <span>Fixed Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom p-4">
                <p class="h5">
                    Portfolio (2)
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-ellipsis-h text-secondary"></i>
                    </button>
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-plus text-secondary"></i>
                    </button>
                    <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-sort text-secondary"></i>
                    </button>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid mt-2 mb-2" src="https://source.unsplash.com/random/200x140/?code">
                        <p class="h6">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light border w-100 mt-2 mb-2 p-2 overflow-hidden" style="height: 140px;">
                            <div class="fade-box">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis, nihil delectus
                                    sequi numquam neque. ssssss
                                </p>
                            </div>
                        </div>
                        <p class="h6">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="p-4">
                <p class="h5">
                    Skills <button class="btn-sm ms-2 rounded-circle border bg-white">
                        <i class="fas fa-pen text-secondary"></i>
                    </button>
                </p>
                <div class="mt-3">
                    <span class="bg-light border border-2 rounded-pill small px-2">Content Writing</span>
                    <span class="bg-light border border-2 rounded-pill small px-2">Article Writing</span>
                    <span class="bg-light border border-2 rounded-pill small px-2">Blog Writing</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white border row p-4 mb-4" id="employmentHistory">
    <div class="d-flex justify-content-between">
        <p class="h4">Employment history</p>
        <button class="btn rounded-circle border mb-3" data-bs-toggle="modal" data-bs-target="#addEmploymentModal"><i class="fas fa-plus text-secondary"></i></button>
    </div>

    @foreach (var employment in Model.Profile.EmploymentHistory.OrderByDescending(e => e.StartDate))
    {
        <hr>

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <p class="h6 mb-3">@employment.Title | @employment.Company</p>
                @if (employment.IsPresent)
                {
                    <span class="text-secondary">@employment.StartDate.ToString("MMMM yyyy") - Present</span>
                }
                else
                {
                    <span class="text-secondary">@employment.StartDate.ToString("MMMM yyyy") - @employment.EndDate.ToString("MMMM yyyy")</span>
                }

                <p>
                    @employment.Description
                </p>
            </div>
            <div>
                <button class="btn rounded-circle border mb-2" data-bs-toggle="modal" data-bs-target="#editEmploymentModal-@employment.Id"><i class="fas fa-pen text-secondary"></i></button>
                <button type="submit" class="btn rounded-circle border mb-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteEmploymentModal-@employment.Id"><i class="fas fa-trash-alt text-secondary"></i></button>
            </div>
        </div>

        <!--Edit Employment Modal-->
        <div class="modal fade" id="editEmploymentModal-@employment.Id" tabindex="-1" aria-labelledby="editEmploymentModalLabel-@employment.Id"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content px-3 py-2">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEmploymentModalLabel-@employment.Id">Edit employment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form asp-action="EditEmployment" asp-controller="Profile">
                        @Html.Hidden("Id", employment.Id)
                        <div class="modal-body">
                            <p class="small fw-bold">Company</p>
                            <input class="form-control mb-4" type="text" name="Company" required value="@employment.Company" />

                            <p class="small fw-bold">Location</p>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="City" required value="@employment.City" />
                                </div>
                                <div class="col-md-4">
                                    <select name="Country" id="country" class="form-select rounded-pill" required>
                                        <option value="@employment.Country" selected hidden>@employment.Country</option>
                                        <option value="Afganistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote DIvoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="India">India</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                        <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>


                            <p class="small fw-bold">Title</p>
                            <input class="form-control mb-4" type="text" name="Title" required value="@employment.Title" />

                            <p class="small fw-bold">Period</p>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <select name="startMonth" id="startMonth" class="form-select rounded-pill">
                                        <option value="@employment.StartDate.Month" selected hidden>@employment.StartDate.ToString("MMMM")</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select name="startYear" id="startYear" class="form-select rounded-pill">
                                        <option value="@employment.StartDate.Year" selected hidden>@employment.StartDate.Year</option>
                                        @for (int i = DateTime.Now.Year; i > 1940; i--)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <p class="small">through</p>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <select name="endMonth" id="endMonth" class="form-select rounded-pill">
                                        <option value="@employment.EndDate.Month" selected hidden>@employment.EndDate.ToString("MMMM")</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select name="endYear" id="endYear" class="form-select rounded-pill">
                                        <option value="@employment.EndDate.Year" selected hidden>@employment.EndDate.Year</option>
                                        @for (int i = DateTime.Now.Year; i > 1940; i--)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-check form-check-inline mb-4 ps-0">
                                @Html.CheckBox("isPresent", employment.IsPresent)
                                <label class="form-check-label small" for="isPresent">I currently work here</label>
                            </div>

                            <p class="small fw-bold">Description (Optional)</p>
                            <textarea class="form-control mb-5" type="text" name="Description" rows="5">@employment.Description</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn text-success text-decoration-none"
                                    data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-success rounded-pill px-4">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Confirm Delete Modal-->
        <div class="modal fade" id="confirmDeleteEmploymentModal-@employment.Id" tabindex="-1" aria-labelledby="confirmDeleteEmploymentModalLabel-@employment.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content px-3 py-2">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteEmploymentModalLabel-@employment.Id">Remove employment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form asp-action="DeleteEmployment">
                        <div class="modal-body">
                            @Html.Hidden("Id", employment.Id)
                            <p>This action will remove "@employment.Company" from all of your profiles. Are you sure to want to remove "@employment.Company"?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn text-success text-decoration-none" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success rounded-pill px-4">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

<div class="bg-white border row p-4 mb-4">
    <div class="d-flex justify-content-between">
        <p class="h4 mb-3">Other Experiences</p>
        <button class="btn rounded-circle border mb-3"><i class="fas fa-plus text-secondary"></i></button>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <span class="h6">Freelance Writer</span>
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quas repellendus fugiat dolores
                necessitatibus a!
            </span>
        </div>
        <div>
            <button class="btn rounded-circle border mb-2"><i class="fas fa-pen text-secondary"></i></button>
            <button class="btn rounded-circle border mb-2"><i class="fas fa-trash-alt text-secondary"></i></button>
        </div>
    </div>
</div>


<!-- MODALS-->

<div class="modal fade" id="editTitleModal" tabindex="-1" aria-labelledby="editTitleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3 py-2">
            <div class="modal-header">
                <h5 class="modal-title" id="editTitleModalLabel">Edit your title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditTitle" asp-controller="Profile">
                <div class="modal-body">
                    @Html.Hidden("Id", Model.SpecializedProfile.Id)
                    <p class="small fw-bold">Your title</p>
                    <p>Enter a single sentence description of your professional skills/experience (e.g. Expert Web Designer with Ajax experience)</p>
                    <input class="form-control mb-5" type="text" name="NewTitle" value="@Model.SpecializedProfile.Title" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-success text-decoration-none" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success rounded-pill px-4">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editHourlyRateModal" tabindex="-1" aria-labelledby="editHourlyRateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3 py-2">
            <div class="modal-header">
                <h5 class="modal-title" id="editHourlyRateModalLabel">Change hourly rate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditHourlyRate" asp-controller="Profile">
                @Html.Hidden("Id", Model.SpecializedProfile.Id)
                <div class="modal-body">
                    <p class="small">
                        Please note that your new <strong class="text-secondary">@Model.SpecializedProfile.Title</strong> hourly rate will only
                        apply to new contracts. The mywork Service Fee is 20% when you begin a contract with a new client. Once
                        you bill over $500 with your client, the fee will be 10%.
                    </p>
                    <p class="small">Your profile rate: @Model.SpecializedProfile.HourlyRate.ToString("C")/hr</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="small">
                                <span class="h6">Hourly Rate</span> <br>
                                <span>Total amount the client will see</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="input-icons">
                                        <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                        <input class="form-control text-end input-field" id="hourlyRateInput" oninput="updateFields(this.value, this.id)" type="text" name="NewHourlyRate" required />
                                    </div>
                                </div>
                                <div class="col-5 p-2">
                                    <span>/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="small">
                                <span class="h6">20% mywork Service Fee</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="input-icons">
                                        <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                        <label class="text-end input-field mt-2 pe-3 text-secondary" id="serviceFeeLabel"></label>
                                    </div>
                                </div>
                                <div class="col-5 p-2">
                                    <span>/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="small">
                                <span class="h6">You'll receive</span> <br>
                                <span>The estimated amount you'll receive after service fees</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="input-icons">
                                        <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                        <input class="form-control text-end input-field" type="text" id="actualRateInput" oninput="updateFields(this.value, this.id)" />
                                    </div>
                                </div>
                                <div class="col-5 p-2">
                                    <span>/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-success text-decoration-none"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success rounded-pill px-4">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="addEmploymentModal" tabindex="-1" aria-labelledby="addEmploymentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-3 py-2">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmploymentModalLabel">Add employment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddEmployment" asp-controller="Profile">
                @Html.Hidden("ProfileId", Model.Profile.Id)
                <div class="modal-body">
                    <p class="small fw-bold">Company</p>
                    <input class="form-control mb-4" type="text" name="Company" required />

                    <p class="small fw-bold">Location</p>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="City" required />
                        </div>
                        <div class="col-md-4">
                            <select name="Country" id="country" class="form-select rounded-pill" required>
                                <option value="@Model.Profile.Country" selected disabled hidden>@Model.Profile.Country</option>
                                <option value="Afganistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bonaire">Bonaire</option>
                                <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                <option value="Brunei">Brunei</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Canary Islands">Canary Islands</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Channel Islands">Channel Islands</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos Island">Cocos Island</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cote DIvoire">Cote DIvoire</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Curaco">Curacao</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="East Timor">East Timor</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands">Falkland Islands</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Ter">French Southern Ter</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Great Britain">Great Britain</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="India">India</option>
                                <option value="Iran">Iran</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Isle of Man">Isle of Man</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Korea North">Korea North</option>
                                <option value="Korea Sout">Korea South</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Laos">Laos</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libya">Libya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macau">Macau</option>
                                <option value="Macedonia">Macedonia</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Midway Islands">Midway Islands</option>
                                <option value="Moldova">Moldova</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Nambia">Nambia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherland Antilles">Netherland Antilles</option>
                                <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                <option value="Nevis">Nevis</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau Island">Palau Island</option>
                                <option value="Palestine">Palestine</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Phillipines">Philippines</option>
                                <option value="Pitcairn Island">Pitcairn Island</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Republic of Montenegro">Republic of Montenegro</option>
                                <option value="Republic of Serbia">Republic of Serbia</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russia">Russia</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="St Barthelemy">St Barthelemy</option>
                                <option value="St Eustatius">St Eustatius</option>
                                <option value="St Helena">St Helena</option>
                                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                <option value="St Lucia">St Lucia</option>
                                <option value="St Maarten">St Maarten</option>
                                <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                <option value="Saipan">Saipan</option>
                                <option value="Samoa">Samoa</option>
                                <option value="Samoa American">Samoa American</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syria">Syria</option>
                                <option value="Tahiti">Tahiti</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania">Tanzania</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Erimates">United Arab Emirates</option>
                                <option value="United States of America">United States of America</option>
                                <option value="Uraguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Vatican City State">Vatican City State</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                <option value="Wake Island">Wake Island</option>
                                <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zaire">Zaire</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>
                    </div>


                    <p class="small fw-bold">Title</p>
                    <input class="form-control mb-4" type="text" name="Title" required />

                    <p class="small fw-bold">Period</p>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <select name="startMonth" id="startMonth" class="form-select rounded-pill">
                                <option value="" selected disabled hidden>Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select name="startYear" id="startYear" class="form-select rounded-pill">
                                <option value="" selected disabled hidden>Year</option>
                                @for (int i = DateTime.Now.Year; i > 1940; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                    <p class="small">through</p>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <select name="endMonth" id="endMonth" class="form-select rounded-pill">
                                <option value="" selected disabled hidden>Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select name="endYear" id="endYear" class="form-select rounded-pill">
                                <option value="" selected disabled hidden>Year</option>
                                @for (int i = DateTime.Now.Year; i > 1940; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-check form-check-inline mb-4 ps-0">
                        @Html.CheckBox("isPresent", false)
                        <label class="form-check-label small" for="isPresent">I currently work here</label>
                    </div>

                    <p class="small fw-bold">Description (Optional)</p>
                    <textarea class="form-control mb-5" type="text" name="Description" rows="5"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-success text-decoration-none"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success rounded-pill px-4">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
