@model MyJobsViewModel
@{
    ViewData["Title"] = "My Jobs";
}

<div class="row m-4 me-0">
    <div class="col-md-6 my-3 d-flex">
        <h1 class="h3">@Model.User.FullName</h1>
        <a href="#"><i class="fas fa-user-plus text-success mt-3 ms-4"></i></a>
        <a class="btn btn-primary rounded-circle px-3 ms-3">
            <i class="fas fa-question text-white fa-xs"></i>
        </a>
    </div>
    <div class="col-md-6 my-3 d-flex justify-content-end">
        <a class="btn btn-primary rounded-circle px-3 me-3">
            <i class="fas fa-question text-white fa-xs"></i>
        </a>
        <button class="btn btn-outline-success rounded-pill px-4 me-4 mb-auto">
            Browse Project
            Catalog
        </button>
        <a asp-controller="JobPosting" asp-action="GettingStarted" class="btn btn-success rounded-pill px-4 mb-auto">Post a Job</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @if (Model.Jobs.Any(j => j.Status == JobPostingStatus.Draft))
        {
            <div class="bg-white border rounded-2 p-4 mb-4">
                <div class="d-flex justify-content-between">
                    <p class="h4">My Drafts</p>
                    <a href="#" class="text-success text-decoration-none">All drafts</a>
                </div>
                @foreach (var posting in Model.Jobs.FindAll(j => j.Status == JobPostingStatus.Draft))
                {
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="h6">@posting.Title</p>
                            <p>Saved @posting.PostedDate.DateDifference()</p>
                        </div>
                        <div>
                            <button class="btn btn-sm rounded-circle border">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        }


        <div class="bg-white border rounded-2 p-4 mb-4">
            <div class="d-flex justify-content-between">
                <p class="h4">My Postings</p>
                <a href="#" class="text-success text-decoration-none">All postings</a>
            </div>
            @if (Model.Jobs.Any(j => j.Status == JobPostingStatus.Published))
            {
                @foreach (var posting in Model.Jobs.FindAll(j => j.Status == JobPostingStatus.Published))
                {
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="h6">@posting.Title</p>
                            <p>Saved @posting.PostedDate.DateDifference()</p>
                        </div>
                        <div>
                            <button class="btn btn-sm rounded-circle border">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                <hr />
                <div class="d-flex justify-content-center p-4">
                    <a asp-controller="JobPosting" asp-action="GettingStarted" class="btn btn-success rounded-pill px-4 mb-auto">Post a Job</a>
                </div>
            }
        </div>

        <div class="bg-white border rounded-2 p-4 mb-4">
            <div class="d-flex justify-content-between">
                <p class="h4">How to work with talent</p>
                <button class="btn rounded-circle" type="button" data-bs-toggle="collapse"
                        data-bs-target="#content">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
            <p class="small text-secondary">
                Connect with a talent community that numbers in the millions,
                fast and at no cost
            </p>

            <div class="collapse" id="content">
                <hr>
                <div class="row">
                    <div class="col-2 text-center">
                        <i class="fas fa-file-alt fa-4x text-success"></i>
                    </div>
                    <div class="col-10">
                        <div>
                            <p class="h6">1. Post a job to the marketplace</p>
                            <p class="small">
                                What would you like to get done? Make sure you provide enough
                                detail for
                                great talent to identify if it's right for them.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2 text-center">
                        <i class="fas fa-file-contract fa-4x text-success"></i>
                    </div>
                    <div class="col-10">
                        <div>
                            <p class="h6">2. Talent sends you proposals</p>
                            <p class="small">
                                With a strong job post, you should receive offers within hours.
                                You can always edit your post, or send an invite to reach out to talent
                                directly.
                            </p>
                            <p class="small">
                                Not getting proposals? Try editing your post. <br>
                                <a href="#" class="text-success text-decoration-none">
                                    Check out examples of
                                    effective job posts
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2 text-center">
                        <i class="fas fa-comments fa-3x text-success"></i>
                    </div>
                    <div class="col-10">
                        <div>
                            <p class="h6">3. Review Proposals</p>
                            <p class="small">
                                Here's your chance to ask questions about talent’s work
                                experience,
                                set expectations for what you need, and discuss terms of the engagement.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2 text-center">
                        <i class="fas fa-thumbs-up fa-3x text-success"></i>
                    </div>
                    <div class="col-10">
                        <div>
                            <p class="h6">4. Send a contract offer and start working</p>
                            <p class="small">
                                Once you both agree to your terms, start collaborating with
                                simple, seamless,
                                and secure tools like chat, file sharing, and the Work Diary. You only pay
                                for work you authorize.
                            </p>
                            <p class="small">
                                <a href="#" class="text-success text-decoration-none">
                                    Learn about
                                    payments
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="h6">
                    Question?<br>
                    <span class="fw-normal small">
                        Visit our
                        <a href="#" class="text-success text-decoration-none">Help Center</a>
                        to learn more tips forfinding the right talent.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="recommendedProjectsCarousel" class="carousel slide bg-white border rounded-2"
             data-bs-ride="carousel" data-bs-interval="10000">
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#recommendedProjectsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <div class="carousel-inner rounded-2">
                <div class="carousel-item active">
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://source.unsplash.com/random/120x90/?marketing"
                             class="d-block w-100" alt="social media">
                        <p class="m-3 text-center">We think you might need help with</p>
                        <p class="h4 text-center mx-3">Social Media Marketing</p>
                        <button class="btn btn-sm btn-outline-success rounded-pill px-4 mt-3 mb-4">
                            Learn
                            More
                        </button>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://source.unsplash.com/random/120x90/?web-design"
                             class="d-block w-100" alt="web design">
                        <p class="m-3 text-center">We think you might need help with</p>
                        <p class="h4 text-center mx-3">Web Design</p>
                        <button class="btn btn-sm btn-outline-success rounded-pill px-4 mt-3 mb-4">
                            Learn
                            More
                        </button>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://source.unsplash.com/random/120x90/?programming"
                             class="d-block w-100" alt="web development">
                        <p class="m-3 text-center">We think you might need help with</p>
                        <p class="h4 text-center mx-3">Web Application Development</p>
                        <button class="btn btn-sm btn-outline-success rounded-pill px-4 mt-3 mb-4">
                            Learn
                            More
                        </button>
                    </div>

                </div>
            </div>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#recommendedProjectsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
