@model CreateJobPostingGettingStartedViewModel 
@{
    ViewData["Title"] = "Post a Job";
}
<form asp-action="GettingStarted">
    <div class="border p-4 mt-4">
        <h1 class="h4">Getting started</h1>
    </div>
    <div class="border border-top-0 p-4">
        <p class="h5 mb-3">What would you like to do?</p>
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="gettingStartedAccordion">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="gettingStartedOption"
                               id="newPostOption" value="@GettingStartedOptions.NewPost" checked data-bs-toggle="collapse"
                               data-bs-target="#newPostSettings">
                        <label class="form-check-label" for="newPostOption">
                            Create a new job post
                        </label>
                    </div>
                    <div id="newPostSettings" class="accordion-collapse collapse show mb-3"
                         data-bs-parent="#gettingStartedAccordion">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="border rounded-2 p-2">
                                    <div class="d-flex justify-content-end">
                                        <input type="radio" class="form-check-input" name="durationOption"
                                               id="shortTermOption" value="@Duration.OneToThreeMonths" checked>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <p><i class="far fa-clock"></i></p>
                                        <p class="h6 text-center">Short term or part time work</p>
                                        <p class="text-center">Less than 30 hrs/week<br>Less than 3 months</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border rounded-2 p-2">
                                    <div class="d-flex justify-content-end">
                                        <input type="radio" class="form-check-input" name="durationOption"
                                               id="longTermOption" value="@Duration.ThreeToSixMonths">
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <p><i class="far fa-calendar-alt"></i></p>
                                        <p class="h6 text-center">Designated, longer term work</p>
                                        <p class="text-center">More than 30 hrs/week<br>3+ months</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.ExistingPosts.Any(p => p.Status == JobPostingStatus.Draft))
                    {
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="gettingStartedOption"
                                   id="editDraftOption" value="@GettingStartedOptions.EditDraft" data-bs-toggle="collapse"
                                   data-bs-target="#editPostSelect">
                            <label class="form-check-label" for="editDraftOption">
                                Edit an existing draft
                            </label>
                        </div>
                        <div id="editPostSelect" class="accordion-collapse collapse mb-3"
                             data-bs-parent="#gettingStartedAccordion">
                            <select class="form-select" id="postToEditSelect" name="draftToEdit">
                                @foreach (var posting in Model.ExistingPosts.FindAll(p => p.Status == JobPostingStatus.Draft))
                                {
                                    <option value="@posting.Id">@posting.Title</option>
                                }
                            </select>
                        </div>
                    }

                    @if (Model.ExistingPosts.Any(p => p.Status == JobPostingStatus.Published))
                    {
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="gettingStartedOption"
                                   id="previousPostOption" value="@GettingStartedOptions.ReusePost" data-bs-toggle="collapse"
                                   data-bs-target="#reusePostSelect">
                            <label class="form-check-label" for="previousPostOption">
                                Reuse a previous job post
                            </label>
                        </div>
                        <div id="reusePostSelect" class="accordion-collapse collapse"
                             data-bs-parent="#gettingStartedAccordion">
                            <select class="form-select" id="postToEditSelect" name="postToEdit">
                                @foreach (var posting in Model.ExistingPosts.FindAll(p => p.Status == JobPostingStatus.Published))
                                {
                                    <option value="@posting.Id">@posting.Title</option>
                                }
                            </select>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="border border-top-0 p-4">
        <div class="d-flex justify-content-end">
            <a asp-controller="Home" asp-action="Index" class="btn rounded-pill px-4 me-4 mb-auto">Cancel</a>
            <button type="submit" class="btn btn-success rounded-pill px-4 mb-auto">Continue</button>
        </div>
    </div>
</form>
