@model Proposal 
@{
    ViewData["Title"] = "Proposals";
}

<h1 class="h3 m-4">Proposal details</h1>

<div class="row">
    <div class="col-md-9">
        <div class="bg-white border row p-4 mb-4">
            <p><span class="h4 mb-3 me-2">Job details</span></p>
            <hr>
            <div class="row mb-3">
                <div class="col-md-9 border-end">
                    <p class="h5 mb-3">@Model.JobPosting.Title</p>
                    <div class="d-flex mb-2">
                        <button class="btn badge border rounded-pill bg-light text-secondary me-1">
                            @Model.JobPosting.Category.CategoryName
                        </button>
                        <span class="small ms-2">Posted @Model.JobPosting.PostedDate.ToString("MMM dd, yyyy")</span>
                    </div>
                    <p>
                        @Model.JobPosting.Description
                    </p>
                    <a asp-controller="JobPosting" asp-action="Index" asp-route-id="@Model.JobPosting.Id" class="text-success fw-bold small text-decoration-none me-1">
                        View job
                        posting
                    </a>
                </div>
                <div class="col-md-3 ps-4">
                    <div class="d-flex">
                        <span><i class="fas fa-user fa-sm me-2"></i></span>
                        <p class="me-2">
                            <span class="h6 small">@Model.JobPosting.ExperienceLevel.AsString(EnumFormat.Description)</span><br>
                            <span class="small">Experience level</span>
                        </p>
                    </div>
                    @if (Model.JobPosting.IsHourly)
                    {
                        <div class="d-flex">
                            <span><i class="fas fa-stopwatch fa-sm me-2"></i></span>
                            <p>
                                <span class="h6 small">@Model.JobPosting.LowerHourlyRateLimit.ToString("C")-@Model.JobPosting.HigherHourlyRateLimit.ToString("C")</span><br>
                                <span class="small">Hourly Range</span>
                            </p>
                        </div>
                        <div class="d-flex">
                            <span><i class="far fa-clock fa-sm me-2"></i></span>
                            <p>
                                <span class="h6 small">@Model.JobPosting.RequiredHours.AsString(EnumFormat.Description)</span><br>
                                <span class="small">Hourly</span>
                            </p>
                        </div>
                        <div class="d-flex">
                            <span><i class="far fa-calendar-alt fa-sm me-2"></i></span>
                            <p>
                                <span class="h6 small">@Model.JobPosting.Duration.AsString(EnumFormat.Description)</span><br>
                                <span class="small">Project Length</span>
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex">
                            <span><i class="fas fa-tag fa-sm me-2"></i></span>
                            <p>
                                <span class="h6 small">@Model.JobPosting.Budget.ToString("C")</span><br>
                                <span class="small">Fixed-price</span>
                            </p>
                        </div>
                    }

                </div>
            </div>
            <hr>
            <p class="h5 mb-3">Skills and expertise</p>
            <div class="d-flex mb-5">
                @foreach (var skill in Model.JobPosting.Skills)
                {
                    <button class="btn badge border rounded-pill bg-light text-secondary me-2">
                        @skill.SkillName
                    </button>
                }
            </div>
            <hr>
            <p class="h5 mb-3">Your proposed terms</p>
            <p class="h6">Profile</p>
            <a href="#" class="text-success h6 text-decoration-none me-1 mb-3">
                @Model.SpecializedProfile.Specialty.CategoryName
            </a>
            <p class="h6">Hourly Rate</p>
            <p>Total amount the client will see on your proposal <br>@Model.Bid.ToString("C")/hr</p>
            <p class="h6">You'll Receive</p>
            <p>The estimated amount you'll receive after service fees <br>@((Model.Bid * 0.8m).ToString("C"))/hr</p>
        </div>

        <div class="bg-white border row p-4 mb-4">
            <p><span class="h4 mb-3 me-2">Cover letter</span></p>
            <hr>
            <p>
                @Html.Raw(@Model.CoverLetter)
            </p>

            @foreach (var answer in Model.ScreeningQuestionAnswers)
            {
                <p class="h6 mb-1">@answer.Question.Question</p>
                <p>@answer.Answer</p>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="ms-4">
            <p class="h6">About the client</p>
            <p class="mt-4">
                Payment method verified
                <span class="small">
                    <i class="rounded-circle bg-success text-white p-1 fas fa-check fa-xs ms-2"></i>
                </span>
            </p>
            <p>
                <span class="me-1 small">
                    <i class="fas fa-star text-success"></i>
                    <i class="fas fa-star text-success"></i>
                    <i class="fas fa-star text-success"></i>
                    <i class="fas fa-star text-success"></i>
                    <i class="fas fa-star text-secondary"></i>
                </span> <span class="text-secondary">(4.20) 8 reviews</span>
            </p>
            <p class="h6">Location</p>
            <p>Canada<br><span class="text-secondary">Toronto 3:20 pm</span></p>
            <p class="h6">History</p>
            <p class="mb-2">10 interviews</p>
            <p class="mb-2">15 jobs posted</p>
            <p class="mb-2">Over $50,000 total spent</p>
            <p class="mb-2">6,275 hours billed</p>
            <p class="mb-2">45 hires</p>
            <p class="small">Member since Jun 13, 2016</p>
        </div>

    </div>
</div>