@model SubmitProposalViewModel
@{
    ViewData["Title"] = "Submit a proposal";
}

<h1 class="h3 m-4">Submit a proposal</h1>

<div class="bg-white border row p-4 mb-4">
    <p><span class="h4 mb-3 me-2">Proposal Settings</span></p>
    <hr>
    <p class="h6">Propose with a Specialized Profile</p>
    <div class="row">
        <div class="col-md-5">
            <select class="form-select ms-2 mb-2">
                @foreach (var specializedProfile in Model.Profile.SpecializedProfiles)
                {
                    <option value="@specializedProfile.Id">@specializedProfile.Specialty.CategoryName</option>
                }
            </select>
        </div>
    </div>
    <p class="mb-2">
        This proposal requires <span class="h6">6 Connects</span>
        <span class="ms-2">
            <i class="fas fa-question-circle fa-sm text-success" data-bs-toggle="tooltip"
               title="This is the number of Connects that will be deducted from your balance when you submit proposal."></i>
        </span>
    </p>
    <p>When you submit this proposal, you'll have <span class="h6">86 Connects</span> remaining.</p>
</div>

<div class="bg-white border row p-4 mb-4">
    <p><span class="h4 mb-3 me-2">Job details</span></p>
    <hr>
    <div class="row mb-3">
        <div class="col-md-9 border-end">
            <p class="h5 mb-3">@Model.JobPosting.Title</p>
            <div class="d-flex mb-2">
                <button class="btn badge border rounded-pill bg-light text-secondary me-1">
                    @Model.JobPosting.Category.CategoryName
                </button>
                <span class="small ms-2">Posted Aug 17, 2021</span>
            </div>
            <p>
                @Model.JobPosting.Description
            </p>
            <a asp-controller="JobPosting" asp-action="Index" asp-route-id="@Model.JobPosting.Id" class="text-success fw-bold small text-decoration-none me-1">
                View job
                posting
            </a>
        </div>
        <div class="col-md-3 ps-4">
            <div class="d-flex">
                <span><i class="fas fa-user fa-sm me-2"></i></span>
                <p class="me-2">
                    <span class="h6 small">Expert</span><br>
                    <span class="small">Experience level</span>
                </p>
            </div>
            <div class="d-flex">
                <span><i class="fas fa-stopwatch fa-sm me-2"></i></span>
                <p>
                    <span class="h6 small">@Model.JobPosting.LowerHourlyRateLimit.ToString("C")-@Model.JobPosting.HigherHourlyRateLimit.ToString("C")</span><br>
                    <span class="small">Hourly Range</span>
                </p>
            </div>
            <div class="d-flex">
                <span><i class="far fa-clock fa-sm me-2"></i></span>
                <p>
                    <span class="h6 small">Less than 30 hrs/wk</span><br>
                    <span class="small">Hourly</span>
                </p>
            </div>
            <div class="d-flex">
                <span><i class="far fa-calendar-alt fa-sm me-2"></i></span>
                <p>
                    <span class="h6 small">Less than a month</span><br>
                    <span class="small">Project Length</span>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <p class="h5 mb-3">Skills and expertise</p>
    <div class="d-flex mb-2">
        <button class="btn badge border rounded-pill bg-light text-secondary me-2">
            ASP.NET Core
        </button>
        <button class="btn badge border rounded-pill bg-light text-secondary me-2">
            API
        </button>
    </div>

</div>

<div class="bg-white border row p-4 mb-4">
    <p><span class="h4 mb-3 me-2">Terms</span></p>
    <hr>
    <p class="h5 mb-4 mt-3">What is the rate you'd like to bid for this job?</p>

    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-between">
                <p>Your profile rate: <span class="h6">$35.00/hr</span></p>
                <p>
                    Client's budget: $20.00-$25.00/hr
                    <span class="ms-2">
                        <i class="fas fa-question-circle fa-sm text-success"
                           data-bs-toggle="tooltip"
                           title="This is the hourly budget the client specified when posting this job. You can consider it when setting your bid rate."></i>
                    </span>
                </p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p>
                        <span class="h6">Hourly Rate</span> <br>
                        <span>Total amount the client will see on your proposal</span>
                    </p>
                </div>
                <div>
                    <div class="d-flex">
                        <div>
                            <div class="input-icons">
                                <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                <input class="form-control text-end input-field" id="hourlyRateInput"
                                       oninput="updateFields(this.value, this.id)" type="number"
                                       value="35.00" />
                            </div>
                        </div>
                        <div class="p-2">
                            <span>/hr</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md">
                    <p class="small">
                        <span class="h6">20% mywork Service Fee</span>
                    </p>
                </div>
                <div class="col-md-5">
                    <div class="row g-0">
                        <div class="col">
                            <div class="input-icons">
                                <i class=" ms-2 fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                <label class="text-end input-field mt-2 pe-3 text-secondary"
                                       id="serviceFeeLabel">-7.00</label>
                            </div>
                        </div>
                        <div class="col-2 p-2">
                            <span>/hr</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p>
                        <span class="h6">You'll receive</span> <br>
                        <span>The estimated amount you'll receive after service fees</span>
                    </p>
                </div>
                <div>
                    <div class="d-flex">
                        <div>
                            <div class="input-icons">
                                <i class="fas fa-dollar-sign fa-lg icon text-secondary"></i>
                                <input class="form-control text-end input-field" type="number"
                                       value="28.00" id="actualRateInput"
                                       oninput="updateFields(this.value, this.id)" />
                            </div>
                        </div>
                        <div class="p-2">
                            <span>/hr</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex-column justify-content-center align-items-center p-5">
                <p class="text-center">
                    <span>
                        <i class="fas fa-shield-alt fa-6x text-success"></i>
                    </span><br><br>
                    Includes mywork Hourly Protection. <span>
                        <a href="#"
                           class="text-success fw-bold text-decoration-none me-1">Learn more</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-white border row p-4 mb-4">
    <p><span class="h4 mb-3 me-2">Additional details</span></p>
    <hr>
    <div class="mb-4">
        <p class="h6">Cover Letter</p>
        <p>
            Introduce yourself and explain why you’re a strong candidate for this job.
            Feel free to suggest any changes to the job details or ask to schedule a video call.
        </p>
        <textarea class="form-control mb-3" placeholder="Add cover letter" rows="5"></textarea>

        <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, id.</p>
        <textarea class="form-control mb-3" rows="5"></textarea>

        <p class="h6">Attachments</p>
        <input class="form-control mb-3" type="file">
        <p>
            You may attach up to 10 files under the size of <span class="h6">25MB</span> each.
            Include work samples or other documents to support your application.
            Do not attach your résumé — your mywork profile is automatically forwarded to the client
            with your proposal.
        </p>
    </div>
    <hr>
    <div class="d-flex pt-2">
        <a href="proposal-details.html" class="btn btn-success rounded-pill px-4 mb-auto">Submit a Proposal</a>
        <button class="btn text-success px-4 mb-auto">Cancel</button>
    </div>
</div>