@model FeedViewModel

@{
    ViewData["Title"] = "My Job Feed";
}

<div class="row mt-4">
    <div class="col-md-2">
        <h3>Find Work</h3>

    </div>
    <div class="col-md-8">

        <form asp-controller="Search" asp-action="Index" method="get">
            <div class="input-group mb-1">
                <input type="text" class="form-control" name="SearchTerm" placeholder="Search for jobs">
                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row mt-4">
    <div class="col-md-2">
        <div class="ps-2">
            <p class="h5">Recent Searches</p>
            <ul class="list-unstyled">
                @foreach (var search in Model.RecentSearches)
                {
                    <li class="my-1">
                        <a asp-controller="Search" asp-route-searchTerm="@search.Keyword" class="text-success text-decoration-none">@search.Keyword</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-8 mb-4">

        <div class="bg-white py-4 border">
            <div class="d-flex justify-content-between px-4">
                <h4>My Feed</h4>
                <button class="btn rounded-circle border"><i class="fas fa-ellipsis-h"></i></button>
            </div>
            <hr>
            <div class="px-4 pb-3">
                <button class="btn badge rounded-pill bg-secondary mx-1">All</button>
                @foreach (var search in Model.Profile.SavedSearches.Where(s => s.IsSaved))
                {
                    <button class="btn badge border rounded-pill bg-light text-secondary mx-1">
                        @search.Keyword
                    </button>
                }
            </div>

            @foreach (var posting in Model.Feed)
            {
                <hr class="my-0">
                <div class="post-panel p-4" id="post-item-@posting.Id">
                    @await Html.PartialAsync("_JobPostingListItemPartial", new JobListItemViewModel
                    {
                   JobPosting = posting,
                   SubmittedProposals = Model.SubmittedProposals,
                   SavedJobs = Model.Profile.SavedJobs.ToList(),
                   ReturnUrl = Url.Content($"~/Freelancer/Home#post-item-{posting.Id}")
                    })
                </div>
            }

        </div>
    </div>
    <div class="col-md-2 ps-2">
        <div class="my-3">
            <p class="h5">My Profile</p>
            <a asp-controller="Profile" class="text-success text-decoration-none"><i class="fas fa-eye me-1"></i> View Profile</a>
        </div>
        <div class="my-3">
            <p class="fw-bold my-2">Visibility</p>
            <span class="small"><i class="fas fa-globe me-1"></i> Public <button class="btn-sm rounded-circle border bg-white"><i class="fas fa-pen"></i></button> </span>
        </div>
        <div class="mb-2">
            <p class="fw-bold my-2">Hours</p>
            <div class="d-flex small">
                <i class="far fa-clock me-2 mt-1"></i>
                <span class="lh-sm"> As Needed - <br> Open to offers <button class="btn-sm rounded-circle border bg-white"><i class="fas fa-pen"></i></button> </span>
            </div>
        </div>
        <div class="mb-2">
            <p class="fw-bold my-2">Profile completion</p>
            <div class="row">
                <div class="col-10">
                    <div class="progress mt-2" style="height: 7px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2">
                    <span class="small">100%</span>
                </div>
            </div>
        </div>
        <div class="my-3 d-flex flex-column">
            <p class="fw-bold my-2">Proposals</p>
            <a asp-controller="Proposal" asp-action="Index" class="text-success text-decoration-none">@Model.SubmittedProposals.Count submitted proposals</a>
            <p>@Model.Profile.AvailableConnects available connects</p>
        </div>
    </div>
</div>
