@model FeedViewModel 

@{
    ViewData["Title"] = "My Job Feed";
}

<div class="row mt-4">
    <div class="col-md-2">
        <h3>Find Work</h3>

    </div>
    <div class="col-md-8">
        <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="Search for jobs (coming soon...)">
            <button class="btn btn-success" type="button"><i class="fas fa-search"></i></button>
        </div>
        <a href="#" class="text-success h6 text-decoration-none ps-1">Advanced Search</a>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row mt-4">
    <div class="col-md-2">
        <div class="mb-4">
            <button type="button" class="btn fw-bold" aria-current="true">
                My Feed
            </button>
            <button type="button" class="btn fw-bold">Best Matches</button>
            <button type="button" class="btn fw-bold">Most Recent</button>
        </div>
        <div class="ps-2">
            <p class="h5">Recent Searches</p>
            <ul class="list-unstyled">
                <li class="my-1">
                    <a href="#" class="text-success text-decoration-none">asp.net</a>
                </li>
                <li class="my-1">
                    <a href="#" class="text-success text-decoration-none">blazor</a>
                </li>
                <li class="my-1">
                    <a href="#" class="text-success text-decoration-none">web api</a>
                </li>
            </ul>
        </div>
        <div class="ps-2">
            <p class="h5">My Categories</p>
            <ul class="list-unstyled">
                <li class="my-2">
                    <a href="#" class="text-success text-decoration-none lh-sm">Web Development</a>
                </li>
                <li class="my-2">
                    <a href="#" class="text-success text-decoration-none lh-sm">Mobile Development</a>
                </li>
                <li class="my-2">
                    <a href="#" class="text-success text-decoration-none lh-sm">Other - Software Development</a>
                </li>
            </ul>
        </div>
        <button class="btn-sm rounded-circle border bg-white"><i class="fas fa-pen"></i></button>
    </div>
    <div class="col-md-8 mb-4">

        <div class="bg-white p-4 border">
            <h4 class="mb-4">My Feed</h4>
            <hr>
            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn badge rounded-pill bg-secondary mx-1">All</button>
                    <button class="btn badge border rounded-pill bg-light text-secondary mx-1">
                        Any /Web
                        Content
                    </button>
                </div>
                <button class="btn rounded-circle border"><i class="fas fa-ellipsis-h"></i></button>
            </div>
            @foreach (var posting in Model.Feed)
            {
                <hr>
                <div>
                    <div class="d-flex justify-content-between">
                        <a asp-controller="JobPosting" asp-route-id="@posting.Id" class="h5 text-success text-decoration-none">@posting.Title</a>
                        <div>
                            <button class="btn rounded-circle border">
                                <i class="far fa-thumbs-down"></i>
                            </button>
                            <button class="btn rounded-circle border"><i class="far fa-heart"></i></button>
                        </div>
                    </div>
                    <div>
                        <p class="small text-secondary">
                            <span class="fw-bolder">@(posting.IsHourly ? $"Hourly: { posting.LowerHourlyRateLimit.ToString("C") }-{ posting.HigherHourlyRateLimit.ToString("C") }" : "Fixed-price")</span> -
                            @posting.ExperienceLevel.AsString(EnumFormat.Description)
                            @(posting.IsHourly ? "" : $" - Est. Budget: { posting.Budget.ToString("C0") }") 
                            @(posting.IsHourly ? $" - Est. Time: { posting.Duration.AsString(EnumFormat.Description) }, { posting.RequiredHours.AsString(EnumFormat.Description) }" : "")
                            - Posted @posting.PostedDate.DateDifference()
                        </p>
                        <p>
                            @posting.Description
                        </p>
                    </div>
                    <div class="mb-1">
                        @foreach (var skill in posting.Skills)
                        {
                            <button class="btn badge border rounded-pill bg-light text-secondary me-2">
                                @skill.SkillName
                            </button>
                        }
                    </div>
                    <div>
                        <p class="small text-secondary">
                            Proposals: <span class="fw-bolder">
                                @(posting.Proposals.Count < 5 ? "Less than 5" :
                                    posting.Proposals.Count > 5 && posting.Proposals.Count < 10 ? "5 to 10" :
                                    posting.Proposals.Count > 15 && posting.Proposals.Count < 20 ? "15 to 20" : "20 to 50")
                            </span>
                        </p>
                        <p class="small text-secondary">
                            <i class="rounded-circle border border-2 border-secondary p-1 fas fa-check fa-xs me-1"></i>
                            Payment unverified
                            <span class="mx-2">
                                <i class="fas fa-star fa-xs text-success"></i>
                                <i class="fas fa-star fa-xs text-success"></i>
                                <i class="fas fa-star fa-xs text-success"></i>
                                <i class="fas fa-star fa-xs text-success"></i>
                                <i class="fas fa-star fa-xs text-secondary"></i>
                            </span>
                            <span class="fw-bolder me-2">$0 spent</span>
                            <span class="fw-bolder"><i class="fas fa-map-marker-alt me-1"></i>@posting.Location</span>
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-2 ps-2">
        <div class="my-3">
            <p class="h5">My Profile</p>
            <a asp-controller="Profile" class="text-success text-decoration-none"><i class="fas fa-eye me-1"></i> View Profile</a>
        </div>
        <div class="my-3">
            <p class="fw-bold my-2">Visibility</p>
            <span class="small"><i class="fas fa-globe me-1"></i> Public <button class="btn-sm rounded-circle border bg-white"><i class="fas fa-pen"></i></button> </span>
        </div>
        <div class="mb-2">
            <p class="fw-bold my-2">Hours</p>
            <div class="d-flex small">
                <i class="far fa-clock me-2 mt-1"></i>
                <span class="lh-sm"> As Needed - <br> Open to offers <button class="btn-sm rounded-circle border bg-white"><i class="fas fa-pen"></i></button> </span>
            </div>
        </div>
        <div class="mb-2">
            <p class="fw-bold my-2">Profile completion</p>
            <div class="row">
                <div class="col-10">
                    <div class="progress mt-2" style="height: 7px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2">
                    <span class="small">100%</span>
                </div>
            </div>
        </div>
        <div class="my-3 d-flex flex-column">
            <p class="fw-bold my-2">Proposals</p>
            <a asp-controller="Proposal" asp-action="Index" class="text-success text-decoration-none">@Model.SubmittedProposalsCount submitted proposals</a>
            <a href="#" class="text-success text-decoration-none">@Model.Profile.AvailableConnects available connects</a>
        </div>
    </div>
</div>
